/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

@import url(../node_modules/cesium/Build/Cesium/Widgets/widgets.css);
  html, body, #cesiumContainer {
       width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden; z-index: 9997;
       /* This here will allow the cesium container to fill the rest of the page */
       display: flex; flex-direction: column;   
   }

   .science {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden; z-index: 9999;
      /* This here will allow the cesium container to fill the rest of the page */
      display: flex; flex-direction: column; 
  }
   .navbar {
      z-index: 9998;
    }

    #gui { position: absolute; top: 100px; }

        /* This is for the search bar */
        * {
      box-sizing: border-box;
    }

    /* Style the search field */
    form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
      position: absolute;
      left:2%;
      top:10%;
      width:10%;
    }

    /* Style the submit button */
    form.example button {
      float: left;
      width: 20%;
      padding: 10px;
      background: #2196F3;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none; /* Prevent double borders */
      cursor: pointer;
      position: absolute;
      left:12%;
      top:10%;
      width:5%;
    }

    form.example button:hover {
      background: #0b7dda;
    }

    /* For the drop down option to search for country */
    form.drop button{
      float: left;
      width: 20%;
      padding: 10px;
      background: #2196F3;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none; /* Prevent double borders */
      cursor: pointer;
      position: absolute;
      left:2%;
      top: 16%;
      width:15%;
      background-color: #65737e ;
    }

    /* Clear floats */
    form.example::after {
      content: "";
      clear: both;
      display: table;
     
    }  

    /* This is for the second search bar */
     /* This is for the search bar */
     * {
      box-sizing: border-box;
    }

    /* Style the search field */
    form.example1 input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
      position: absolute;
      left:2%;
      top:60%;
      width:10%;
    }

    /* Style the submit button */
    form.example1 button {
      float: left;
      width: 20%;
      padding: 10px;
      background: #2196F3;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none; /* Prevent double borders */
      cursor: pointer;
      position: absolute;
      left:12%;
      top:60%;
      width:5%;
    }

    form.example1 button:hover {
      background: #0b7dda;
    }

    /* Clear floats */
    form.example1::after {
      content: "";
      clear: both;
      display: table;
     
    } 

*, *:before, *:after {
  box-sizing: border-box;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  padding: 0 20px;
  z-index: 2;
}
  
.modal-inner {
  background-color: #fff;
  border-radius: 3px;
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
}

/* Placed on the body while a modal is open to prevent scrolling. */
.showing-modal {
  overflow: hidden;
}

/* So the scrollbar calculation is correct. */
body {
  margin: 0;
}

/* For the legend box colours */
.box {
  float: left;
  /* height: 20px;
  width: 20px; */
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
    /* border:1px solid #ccc; */
  width:20px;
  height:20px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.forestgreen {
  background-color: #228B22;
}

.gold {
  background-color: #FFD700;
}

.orange {
  background-color: #FFA500;
}

.darkorange {
  background-color:#FF8C00;
}

#satelliteLegend {
  position: absolute;
  z-index: 9999;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  top:20%;
  left:5%;
}

#satelliteLegendheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: grey;
  color: #fff;
}

#objectTable {
  position: absolute;
  z-index: 9999;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  top:60%;
  left:5%;
}

#objectTableLegend {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: grey;
  color: #fff;
}

.fixed-table-loading {
  visibility: hidden;
  top: 0px;
  display: none;
}

.loading-wrap {
  visibility: hidden;
  display: none;
}

.table-loading {
  visibility: hidden;
  display: none;
}

.loading {
  visibility: hidden;
  display: none;
}